.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;

    a {
        display: block;
        
        &.logout img {
            width: 2rem;
        }
    }
}